/* Modal.module.css */
.para{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}
.shareLink{
    background-color: #ededed;
    border-radius: .5rem;
    overflow-x: clip;
    padding: .4rem 1rem;
    text-align: center;
    width: -moz-fit-content;
}
.sharebtn{
    background: #60b84b;
    border: none;
    border-radius: .625rem;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: .7rem 3.5rem;
    transition-duration: .4s;
}
.btnContainer{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 1.5rem;
    width: -webkit-fill-available;
}



